<div class="container mt-5">
  <div class="d-flex flex-column gap-2">
    <div class="alert alert-primary text-center fw-bold">Fun For Nerds</div>

    <app-main-component (userInputEvent)="onUserInput($event)" (wordSubmitted)="onSubmitInput($event)">
    </app-main-component>
    <div class="d-flex justify-content-between  gap-2">
      <app-even-length-words-component [evenWord]="partialEvenWord" [evenWords]="evenLengthWords">
      </app-even-length-words-component>
      <app-odd-length-words-component [oddWord]="partialOddWord"
        [oddWords]="oddLengthWords"></app-odd-length-words-component>
    </div>
  </div>
</div>